node/node_modules
banco/mysql
banco/nodedb
banco/performance_schema
banco/sys
banco/auto.cnf
banco/ca-key.pem
banco/ca.pem
banco/client-cert.pem
banco/client-key.pem
banco/ib_buffer_pool
banco/ib_logfile0
banco/ib_logfile1
banco/ibdata1
banco/ibtmp1
banco/private_key.pem
banco/public_key.pem
banco/server-cert.pem
banco/server-key.pem
